.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(79, 79, 79);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  /*max-width: 500px; height: 100px;*/
  margin: 150px;
  display: flex;
  flex-direction: colum;

}
.card2 {
  /* Add shadows to create the "card" effect */
  background-color: #46494a;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}



/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
 background-color: red;
 max-width: 40%;
 margin: 1rem;
}

.boxr{
  background-color: #61dafb;
}
img{
  max-width: 10rem; 
  max-height: 10rem;
}
input,button{
  margin:.1rem;
} 